APP_NAME=Textify
ENVIRONMENT=production
DEBUG=false
SECRET_KEY=ILoveChickenBiryani

HOST=0.0.0.0
PORT=10000

DATABASE_URL=postgresql://postgres.hqokriqendkqpnufnyww:ILoveChickenBiryani@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres
REDIS_URL=rediss://default:gQAAAAAAAQTVAAIncDE5ZjFjNWQ4YjhiMDU0MWIyOTc2OWE5NTNiNzE4N2EzMnAxNjY3NzM@cool-chow-66773.upstash.io:6379?ssl_cert_reqs=CERT_NONE

SUPABASE_URL=https://hqokriqendkqpnufnyww.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhxb2tyaXFlbmRrcXBudWZueXd3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzA4Mzc1NiwiZXhwIjoyMDg4NjU5NzU2fQ.DOeXf1V-yIDpGZOaT4hkz5sjdNSsmDMLRb9CDxlfkqw
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhxb2tyaXFlbmRrcXBudWZueXd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwODM3NTYsImV4cCI6MjA4ODY1OTc1Nn0.EYXk0Xxqqht8NbEoFkCCvocYZRqFPvlmHjT8ShppFTI
SUPABASE_STORAGE_BUCKET=textify-files

S3_ENDPOINT_URL=https://hqokriqendkqpnufnyww.supabase.co/storage/v1/s3
S3_ACCESS_KEY=62cec8dea34bdd092dca63ab3f49d8ce
S3_SECRET_KEY=ef633fb0b7297c75ce811a5b0bc2daa7146ba40a099cd96e7e1c237ac26fb931
S3_REGION=ap-southeast-2

ALLOWED_EXTENSIONS=[".pdf"]

CELERY_BROKER_URL=rediss://default:gQAAAAAAAQTVAAIncDE5ZjFjNWQ4YjhiMDU0MWIyOTc2OWE5NTNiNzE4N2EzMnAxNjY3NzM@cool-chow-66773.upstash.io:6379?ssl_cert_reqs=CERT_NONE
CELERY_RESULT_BACKEND=rediss://default:gQAAAAAAAQTVAAIncDE5ZjFjNWQ4YjhiMDU0MWIyOTc2OWE5NTNiNzE4N2EzMnAxNjY3NzM@cool-chow-66773.upstash.io:6379?ssl_cert_reqs=CERT_NONE

FRONTEND_URL=https://textify-frontend-gules.vercel.app
CORS_ORIGINS=["https://textify-frontend-gules.vercel.app"]

MAX_UPLOAD_SIZE_MB=50

NEXT_PUBLIC_API_URL=https://textify-0hrm.onrender.com

PYTHON_VERSION=3.11.9
